body {
  background-color: black;
  color: white
}

/*===========================================================================*/
/*Hexagon Images*/
.hexagon {
			position: relative;
			display: inline-block;
			width: 205px;
			height: 233px;
			overflow: hidden;
			color: #fff;
			-webkit-mask-image: url('http://i40.tinypic.com/kajqg.jpg');
			text-align: center;

		}
		.hexagon .content{
			height: 186px;
			width: 186px;
			margin: auto;
			margin-top: 16px;

		}
		.hexagon a {
			cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
		}
/*===========================================================================*/
/*End Hexagon*/

/*===========================================================================*/
/*CSS landing page*/

.landingImg {
  z-index: -10;
  position: absolute;
}

.landingWelcome {
  position: relative;
  box-sizing: border-box;
  height: 65px;
  width: 250px;
  border: 2px solid pink ;
  text-align: center;
  font-size: 3em;
  border-radius: 7px;
  transform: translateY(50%);
}

.landingText {
  position: relative;
  box-sizing: border-box;
  height: 150px;
  width: 350px;
  border: 2px solid pink ;
  text-align: center;
  font-size: 1.5em;
  border-radius: 7px;
  transform: translateY(150%);
}
/*End of Landing Page*/

/*===========================================================================*/
/*CSS Home Page*/

.heroBox {
  /*box-sizing: border-box;*/
  border: 2px solid pink;
  display: inline-block;
}

.heroeIcon {
  position: relative;
  height: 150px;
  width: 90px;
  margin: 7px;
}

.filter {
  display: inline-block;
  margin-bottom: 15px;
}

.iconFilter {
  height: 25px;
  width: 25px;
}
