body {
  background-color: black;
  color: white
}
/*===========================================================================*/
/*CSS changes for NavBar*/

/*End of Nav*/
/*===========================================================================*/
/*CSS landing page*/

.landingImg {
  z-index: -10;
  position: absolute;
}

.landingWelcome {
  position: relative;
  box-sizing: border-box;
  height: 65px;
  width: 250px;
  border: 2px solid pink ;
  text-align: center;
  font-size: 3em;
  border-radius: 7px;
  transform: translateY(50%);
}

.landingText {
  position: relative;
  box-sizing: border-box;
  height: 150px;
  width: 350px;
  border: 2px solid pink ;
  text-align: center;
  font-size: 1.5em;
  border-radius: 7px;
  transform: translateY(150%);
}

/*End of Landing Page*/
/*===========================================================================*/
/*CSS Home Page*/

.heroBox {
  box-sizing: border-box;
  border: 2px solid pink;
  display: inline-block;
}

.heroeIcon {
  position: relative;
  height: 150px;
  width: 90px;
  margin: 7px;
}

.filter {
  display: inline-block;
  margin-bottom: 15px;
}

.iconFilter {
  height: 25px;
  width: 25px;
}
