<!-- Set up display for filter -->

<!-- declare space for filter section -->
<div class="row center">
  <div class="filter">Filter Type:</div>

  <!-- Icon list with attached filters for main page hero display -->
  <div class="filter">
    <img ng-click="hots.addRole($event)" id="Warrior" class="iconFilter " src="./Images/WarriorIcon.jpg" alt="" />
    <img ng-click="hots.addRole($event)" id="Assassin" class="iconFilter " src="./Images/AssassinIcon.jpg" alt="" />
    <img ng-click="hots.addRole($event)" id="Support" class="iconFilter " src="./Images/SupportIcon2.jpg" alt="" />
    <img ng-click="hots.addRole($event)" id="Specialist" class="iconFilter " src="./Images/SpecialistIcon.jpg" alt="" />
  </div>
</div>



<!-- Set up display for Heroes icon -->
<div class="row center">

  <!-- Display div for hero icon -->
  <div ng-repeat="hero in hots.heroes" style="background:url({{hero.icon}})" ng-if=" hero | roleFilter:hots.roles " class="hexagon" ng-click="hots.showBuild(hero)"> </div>

</div>
